*{
    margin:0;
    padding:0;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: #d1d2d4;
}

.container{
    display: flex;
    margin: 5vh 0;
    flex-wrap: wrap;
}

.box1, .box2, .box3{
    height: 70vh;
}

.box1{
    width:30vw;
    background-color:#0B9444 ;
}

.box2 {
    width: 40vw;
    background-color: #8CC63F;
}

.box3 {
    width: 30vw;
    background-color: #F5EE31;
}


.footer {
    width: 100vw;
    height: 10vh;
    background-color: #d1d2d4;
}

@media only screen and (min-width: 600px) and (max-width:768px) {

    .header,
    .footer {
        height: 15vh;
    }

    .container {
        margin: 5vh 0;
    }

    .box1{
        width: 100vw;
        height: 40vh;
    }

    .box2, .box3{
        height: 20vh;
        width: 50vw;
    }

}

@media only screen and (max-width: 600px) {

    .header,
    .footer {
        height: 15vh;
    }

    .container {
        margin: 5vh 0;
    }

    .box1 {
        width: 100vw;
        height: 30vh;
    }

    .box2,
    .box3 {
        height: 15vh;
        width: 100vw;
    }

}