* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: #d1d2d4;
}

.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 0;
}

.red_box {
    width: 80vw;
    background-color: #ef4036;
    height: 35vh;
}

.orange_box {
    width: 80vw;
    background-color: #fcb040;
    height: 35vh;
}

.yellow_box {
    width: 20vw;
    background-color: #f5ee31;
    height: auto;
}

.footer {
    width: 100vw;
    height: 10vh;
    background-color: #d1d2d4;
}

@media only screen and (min-width: 600px) {

    .red_box,
    .orange_box {
        width: 70vw;
    }

    .yellow_box {
        width: 30vw;
    }
}

@media only screen and (max-width: 600px) {

    .header,
    .footer {
        height: 15vh;
    }

    .container {
        margin: 5vh 0;
    }

    .red_box,
    .orange_box,
    .yellow_box {
        width: 100vw;
        height: 20vh;
    }

}


